@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 
/* common shared styles */

body {
    font-family: "Open Sans", sans-serif;
   
}
.text-orange{

    color: #FD6E0A;
}

.primary-button{
    padding: 30p 35px;
    font-size: 15px;
    font-weight: 700;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    border-radius: 5px; 
    width: 150px;
    height: 64px;

}
/* nav related styles */

nav {
    margin:0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
   
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* header related styles */

.header{
    background-color: #FFF8F3;

}

.banner{
    pading:30px 30px 30px 150px  ;
    display: flex;
}

.banner .profile-pic{
    width: 500px;
}
