@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 
/* common shared styles */

body {
    font-family: "Open Sans", sans-serif;
   
}
.text-orange{

    color: #FD6E0A;
}

.primary-button{
    padding: 30p 35px;
    font-size: 15px;
    font-weight: 700;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    border-radius: 5px; 
    width: 150px;
    height: 64px;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    margin-top: 30px;
   

}

.section-description{

    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
 


}
/* nav related styles */

nav {
    margin:0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
   
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

/* header related styles */

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

.banner{
    padding:30px 30px 0px 150px  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{

    font-size: 45px;
    font-weight: 500;
    color: #474747;
    margin-bottom: 0px;

}

.banner-heading{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
 

}
.heading-intro{
    margin-top: 5px;
    color: #757575;
    font-size: 18px;
}
/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* about section styles */

.about{
    padding: 130px;
    background-color: #FFF8F3;border-radius: 10px;
    margin-top: 130px;
    

}

.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
}




.info-description{
    margin-top: 5px;
    font-size: 20px;
    color: #474747;
    line-height: 30px;
}


/* skills related styles  */

#what-I-do{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;

}

.skill{
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0.01);

}
.skill-description{

   color: #757575;
   font-size: 16px;
   line-height: 28px;

}

/* resume column styles */


.resume-container{
    display: flex;
    gap: 50px;
}
.resume-column-title{

    font-size: 35px;
    font-weight: 700;
    color:#181818;
}
.resume-item-title{
    color:#474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-institute{
    color:#474747;
    font-size: 20px;
}
.resume-item-description{
    color: #757575;
    font-size: 16px;
    width: 500px;
    height: 80px;
}

.resume-container hr{
    margin: 30px 0px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer part started */

footer{
    margin-top: 100px;
    padding: 130px 200px;
    display: flex;
    background-color: bisque;
    gap: 100px;
}
.footer-column{

  width: 50%;
}
.section-title{
    font-size: 35px;
}

.section-description{
    font-size: 16px;
    text-align: left;
   
}
.social-links a{
    margin-right: 25px;
}

.contact input[type="text"], input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: white;
    border: 0;
    width: 100%;
}






